.header-nav01 {
    top: 0;
    position: fixed;
    background-color: #c93b3b;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    z-index: 10000000000;}
.content {
	position: relative;
}

.content h2 {
	color: #08442c;
	font-size: 70px;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #fafffa;
	font-size: 40px;
}

.content h2:nth-child(2) {
	color: red;
	animation: animate 4s ease-in-out infinite;
	-webkit-text-stroke: 2px #fafffa;

	font-size: 35px;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
