*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerSP{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16181b;
    width: 100%;
    height: 100vh;
}
.spin-loading{
    height: 10vh;
    width: 10vh;
    border:6px solid #da007f36;
    display: inline-block;
    border-radius: 50%;
    border-top-color: #da007f;
    animation: 1.5s spin infinite ease-in-out;
}
.dot-loading > div{
    margin-top: 32px;
    height: 24px;
    width: 24px;
    background: #da007f;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out;
}
.dot-loading .dot2{
    animation-delay: 150ms;
}
.dot-loading .dot3{
    animation-delay: 300ms;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}